@import "variables"

.content
	.panel
	  	.panel-heading
	  		text-align: center
	  		text-transform: uppercase
		  	span:not(:last-child):after
		  		margin: 10px
	  			content: ">"
	.panel
		.panel-body
			.fa-user
				font-size: 120px

	  				
